.home {
    text-align: center;
    padding: 20px;
  }
  
  .overview {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px;
  }
  
  .card {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1 1 150px; 
    max-width: 200px;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    .overview {
      flex-direction: column; 
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 300px; 
    }
  }
  